h1{
    font-family:Cursive;
}
body{
 background:rgb(51,204,255) ; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left,rgba(51,204,255,1),#E0FFFF); /*Safari 5.1-6*/
  background: -o-linear-gradient(right,rgba(51,204,255,1),#E0FFFF); /*Opera 11.1-12*/
  background: -moz-linear-gradient(right,rgba(51,204,255,1),#E0FFFF); /*Fx 3.6-15*/
  background: linear-gradient(to right, rgba(51,204,255,1),#E0FFFF) ; /*Standard*/
}
.para{
    font-family: Times New Roman;
    font-size:35px;
    text-align: center;
    background-color: black;
    color:	rgb(0, 191, 255);
    padding:15px;
}
img {
    Width:350px; 
    Height:350px;
}
.nav{
    list-style: none;
}
.nav li{
    float:left ;
}
.nav > li a{
    display:block; 
    padding:15px 25px;
    text-decoration:none;
    border-bottom:1px solid #555;
    color:rgb(88, 160, 255);
    -webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
    font-family: 'Lobster', cursive;
}
li{
    font-size: 25px
}
/* Change the link color on hover */
li a:hover {
    background-color:black;
    color: lightblue;
}
.list{
   font-family: Times New Roman;
    font-size:25px;
    background-color: black;
    color:	rgb(0, 191, 255);
    list-style: none;
    padding:15px;
}
#open{
    font-family: Times New Roman;
    font-size: 45px;
    text-align: center;
    background-color: white;
}
.div{
    display: block;
    text-align: center;
    background-color: grey;
}
.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  display: block;
  background-color: grey;
}
#ul{
 list-style-type:none;
}
.active{
    background-color: #98FB98;
    color: 	#F5DEB3;
}
.pics{
    background-color: grey;
    padding:20px
}
.pics2{
    background-color:grey;
    padding:15px;
}
strong{
 color:white;   
}