h1{
    font-family:Cursive;
}
body{
    background-color:rgb(51,204,255);
}
.para{
    font-family: Arial;
    font-size:25px;
    text-align: center
}
img {
    Width:350px; 
    Height:350px;
}
.nav{
    list-style: none;
}
.nav li{
    float:left ;
}
.nav > li a{
    display:block; 
    padding:15px 25px;
    text-decoration:none;
    border-bottom:1px solid #555;
    color:rgb(88, 160, 255);
    -webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
    font-family: 'Lobster', cursive;
}
li{
    font-size: 25px
}
/* Change the link color on hover */
li a:hover {
    background-color:black;
    color: lightblue;
}
.list{
   font-family: Arial;
    font-size:25px;
}