h1{
    font-family:Cursive;
}
body{
    background-color:rgb(51,204,255);
}
p{
    font-family: Arial;
    font-size:14px;
}
img {
    Width:150px; 
    Height:150px;
}
.nav{
    list-style: none;
}
.nav li{
    float: ;
}
.nav > li a{
    display:; 
    padding:;
    text-decoration:;
    border-bottom: ;
    color:;
    transition:;
}